<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let article of articles">
      <div class="card" style="border: 1px solid #ccc;">
        <img [src]="article.image" class="card-img-top" alt="Article Image" width="1000" height="200"> <!-- Définir la taille directement -->
        <div class="card-body">
          <h5 class="card-title">{{ article.title }}</h5>
          <p class="card-text">{{ article.content }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
