<app-navbar></app-navbar>


<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let post of posts">
      <div class="card" style="border: 1px solid #ccc;">
        <img [src]="post.image" class="card-img-top" alt="Article Image" width="1000" height="200"> <!-- Définir la taille directement -->
        <div class="card-body">
          <h5 class="card-title"><a [routerLink]="['/post', post.title]">{{ post.title }}</a></h5>
          <p class="card-text">{{ post.content }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<h5><a [routerLink]="['/create-post']">Share with us your experience</a></h5>
